

#menu ul{
    list-style: none;
    position: relative;
    margin:0;
    padding: 0;
    float: left;

}



#menu ul a{
    color: black;
    text-decoration: none;
    font-size: 22px;
    padding: 10px 40px 15px 15px;
    word-spacing: 13px;
    display: block;
    margin-top: 30px;
}

#menu ul li{
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
}


#menu ul ul{
    position: absolute;
    /* background: #fff; */
    top:100%;
    left:0;
    display: none;
}

#menu ul ul li{
    float: none;
    width: 200px;
    border-left: 3px solid #B85042;
}

#menu ul ul li:hover{
    border-left: 3px solid #B85042;
}

#menu ul ul ul{
    top: -4px;
    left: 100%;
}

#menu ul li:hover > ul{
    display: block;
}
.login{

    margin-top: 20px;
    /* padding: 0px 0px; */
    font-size: 20px;
    margin: 0px;
    background-color: #7872f5;
    color: #fff;
}

.login:hover{
    background-color: #fff;
    color: #7872f5;
}
