


<div class="row" style="margin:0px; padding:5px 0px;">

  <div  style="padding:0px;">
    <div class="heading">
  
      <div id="mainHeading">Indira Gandhi Delhi Technical University For Women</div>
      <div id="secondHeading">(Established by Govt. of Delhi vide Act 9 of 2012)</div>
      <div id="thirdHeading">ISO 9001:2015 Certified University</div>
      <br>
      <div id="thirdHeading">Brings to you</div>
      <div id="thirdHeading"> Reaching the Unreached <br>
        <div id="thirdHeading"> A collection of internships , scholarships and much more..</div>
    </div>
  </div>

  <button class="button" igxButton="raised" [igxToggleAction]="dropdown"
  [igxDropDownItemNavigation]="dropdown">Options</button>
<igx-drop-down #dropdown>
  <igx-drop-down-item *ngFor="let item of items">
      {{ item.field }}
  </igx-drop-down-item>
</igx-drop-down>



<!-- <mat-toolbar>  -->
  <div id="menu">
    <!-- <a id="name" routerLink="">MakeYourWay</a> -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-top:0px; padding-bottom:0px;"  >
    <div class="container-fluid">
      <!-- <a class="navbar-brand" routerLink="">MakeYourWay</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">

      
            <!-- <h1 class="name" routerLink="">MakeYourWay</h1> -->


          <li class="nav-item">
            <a class="nav-link" routerLink=""  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" >Home</a>
          </li>

          <!-- ABOUT ABOUT ABOUT -->

          <li class="nav-item">
            <a class="nav-link" routerLink="about" routerLinkActive="active-link">About</a>
          </li>


            <!-- JOBS JOBS JOBS -->

          <li class="nav-item">
            <a class="nav-link" routerLink="job" routerLinkActive="active-link">Jobs</a>
            <ul>
              <li><a style= "font-size: 15px; color: #fff;" href="#">Location</a>
                <ul>
                  <li><a style= "font-size: 15px; color: #fff;" href="#">NCR</a></li>
                  <li><a style= "font-size: 15px; color: #fff;" href="#">Mumbai</a>
                </ul>
              </li>
              <li><a style= "font-size: 15px; color: #fff;" href="#">Field</a>
            </ul>
          </li> 


          <!-- INTERNSHIPS INTERNSHIPS INTERNSHIPS -->

          <li class="nav-item">
            <a class="nav-link" routerLink="intern" routerLinkActive="active-link">Internships</a>
            <ul>
              <li><a style= "font-size: 15px; color: #fff;" href="#">Web Development</a></li>
              <li><a style= "font-size: 15px; color: #fff;" href="#">Python</a>
              </ul>
          </li> 

          <!-- SCHOLARSHIP  SCHOLARSHIP  SCHOLARSHIP -->

          <li class="nav-item">
            <a class="nav-link" routerLink="scholarship" routerLinkActive="active-link">Scholarship</a>
          </li> 

          <!-- CONTACT CONTACT CONTACT  -->

          <li class="nav-item">
            <a class="nav-link" routerLink="contact" routerLinkActive="active-link">Contact</a>
          </li>
            <button class = "login" style = "margin-top: 10px ;" mat-button routerLink="login"  routerLinkActive="login-link" ><mat-icon>login</mat-icon>Login</button>



        </ul>
      </div>
    </div>
  </nav>
  </div>
  <!-- login login login -->

  <!-- <button class = "login" mat-button routerLink="login"  routerLinkActive="login-link" ><mat-icon>login</mat-icon>Login</button> -->
<!-- 
  </mat-toolbar>  -->

