
<mat-toolbar> 
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">MakeYourWay</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink=""  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" >Home</a>
          </li>



          <!--  WOMEN JOBS JOBS JOBS -->

          <li class="nav-item">
            <a class="nav-link" routerLink="wSpecial" routerLinkActive="active-link">For Women</a>
          </li>

          <!-- JOBS JOBS JOBS -->

          <li class="nav-item">
            <a class="nav-link" routerLink="job" routerLinkActive="active-link">Jobs</a>
          </li>

          <!-- INTERNSHIPS INTERNSHIPS INTERNSHIPS -->

          <li class="nav-item">
            <a class="nav-link" routerLink="intern" routerLinkActive="active-link">Internships</a>
          </li>

          <!-- ADMISSIONS ADMISSIONS ADMISSIONS -->

          <li class="nav-item">
            <a class="nav-link" routerLink="admission" routerLinkActive="active-link">Admissions</a>
          </li>

          <!-- SCHOLARSHIP  SCHOLARSHIP  SCHOLARSHIP -->

          <li class="nav-item">
            <a class="nav-link" routerLink="scholarship" routerLinkActive="active-link">Scholarship</a>
          </li>

          <!-- ABOUT ABOUT ABOUT -->

          <li class="nav-item">
            <a class="nav-link" routerLink="about" routerLinkActive="active-link">About</a>
          </li>

          <!-- CONTACT CONTACT CONTACT  -->

          <li class="nav-item">
            <a class="nav-link" routerLink="contact" routerLinkActive="active-link">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- login login login -->

  <button class = "login" mat-button routerLink="login"  routerLinkActive="login-link" ><mat-icon>login</mat-icon>Login</button>

  </mat-toolbar>