
.mat-
.footer
{
    overflow: hidden;
    position: sticky;
    top: 100%;
    background-color:#E7E8D1;
    padding: 20px 10px;
}

h1
{
    font-weight: bold;
    color: gray;
    font-size: 20px;
    cursor: pointer;
}
h1:hover{
    cursor: pointer;
}
p 
{
    color: gray;
    font-size: 15px;
}
a 
{
    color: gray;
    text-decoration: none;
    padding: 0px 10px;
    font-size: 17px;
}
a:hover 
{
    color:#B85042;
}
i 
{
    padding: 0px 10px;
}
