<div class="container mt-5 mb-5">

    <div class="row">

        <div class="col-lg-4" *ngFor="let fd of scholarshipData">

            <div class="jobBox mt-3 mb-3">
                <!-- <img src="{{fd.JobImg}}"> -->
                <h1>{{fd.name}}</h1>
                <p>{{fd.description}}</p>
                <p>{{fd.openTo }}</p>
                <p>{{fd.Length }}</p>
                <p>{{fd.Period }}</p>
                <p>{{fd.Link }}</p>
                <br/>
                <a [routerLink]="['/scholarships', fd.id]"></a>
            </div>

        </div>



    </div>

</div>