
.jobBox
{
    padding: 10px 10px;
    height: auto;
    width: auto;
} 
.jobBox:hover{
    background-color:rgb(133, 222, 133);
    border-radius: 25px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.jobBox h1 
{
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}
.buybtn
{

    color: #000;
    background-color: var(--primary-color);
    padding: 10px 10px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}