
.jobBox
{
    padding: 10px 10px;
    display:block;
    width: 100%;
    border-radius: 25px;
    height: 500px;
} 
.jobBox:hover{
    background-color:#E7E8D1;
}
.jobBox h1 
{
    font-size: 21px;
    margin-top: 20px;
    font-weight: bold;
    color: #B85042;
}
.heading{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
}