<div class="container mt-5 mb-5">

    <h1 class="text-center">About Us</h1>

    <p class="about">
        Indira Gandhi Delhi Technical University for Women (IGDTUW) was established by the Govt. NCT of Delhi in May,
        2013 vide Delhi Act 09 of 2012, as a non-affiliating University to facilitate and promote studies, research, 
        technology, innovation, incubation and extension work in emerging areas of professional education among women, 
        with focus on engineering, technology, applied sciences, architecture and its allied areas with the objective to
        achieve excellence in these and related fields.Since 2013, the University has steadily grown exponentially. 
        It has continued B.Tech. programmes in four disciplines namely computer science engineering, information technology, 
        electronics & communications and robotics & automation engineering. M.Tech. Programmes in niche areas of technology like 
        Information Security Management, Mobile Pervasive Computing, VLSI Design and Robotics and Automation Engineering 
        were started for the first time in institute. The Ph.D programme was started in 2014 in various disciplines.
        In 2015, the University started B.Arch. Programme. In short span of few years, the University has drastically increased
        its student strength.The teaching pedagogy of the University is to make students think, to resolve problems by argument supported
        by evidence and not to be dismayed by complexity, but bold in unravelling it. The university incessant effort is to
        produce work-ready graduates and this is achieved through continuously updating the syllabus with the involvement of the
        experts from Industry and leading academia. As an outcome, the students of the University are placed 100% with multiple 
        job offers in the leading industry like Intel, Microsoft, Facebook, Qualcomm, Intuit, Oracle, ARM, CISCO, Yamaha, 
        Mahindra & Mahindra, Tata Motors to name a few.
    </p>

    <h1 class="text-center">Few Glimses</h1>
  

    <h1 class="text-center">Our vision</h1>
    <li class="about">To make India a Knowledge Society and Knowledge Economy by empowering the women of our country through education 
        in Engineering, Science, Management and Technology.</li>
    <li class="about">To become one of the top technical Universities in the country known for its value based, quality technical education supported with 
        industry relevant research, with focus on environmental and social issues.</li>

</div>