
<div class="form-container mat-elevation-z5">
<h1 style="text-align:center ; color:#B85042">Login</h1>
<form [formGroup]="loginForm">
	<mat-form-field>
		<input matInput placeholder="Email Address" formControlName = "email" />
		<mat-error *ngIf="email?.errors?.['required']">Email is required
		</mat-error>
		<mat-error *ngIf="email?.errors?.['email']">Email is required
		</mat-error>
	</mat-form-field>

	<mat-form-field>
		<input matInput placeholder="Password" formControlName = "password" type="password" />
		<mat-error *ngIf="password?.errors?.['required']">Password is required
		</mat-error>
	</mat-form-field>
	<div class="center margin-top">
	<button class = "submit" mat-raised-button type="submit">Login</button><br>
	</div>
	<span class="center margin-top span" >New to our platform? <a  class = "sign-up link" routerLink="sign-up">Sign Up!</a></span>
</form>
</div>