.loginHeading{
  font-size: 90px;
  color: #B85042;
  margin-top: 100px;
  text-align: center;
  font-family: 'Lobster', cursive;
font-family: 'Lobster Two', cursive;
font-family: 'Merriweather', serif;
font-family: 'Mukta', sans-serif;
font-family: 'PT Serif', serif;
}

.form-container{
  display: block;
  max-width: 500px;
  height: 500px;
  margin: auto;
  padding: 48px;
  background:#d9d99b;
  border-radius: 16px;
  margin-top: 100px;
}

.form-container mat-form-field{
  width: 100%;
  margin-top: 20px;
  height: 80px;
  text-decoration: underline;
}


.submit{

  background-color: #B85042;
  color:#E7E8D1 ;
  
}

.sign-up link{
  font-size: 1.2rem;
  margin-left: 8px;
}

.span{
  margin-top: 60px;
  cursor: pointer;
  color: #3A6B35;
}

.center{
  display: flex;
  justify-content: center;
 
}

.margin-top{
  margin-top:16px ;
}

.text-center{
  text-align: center;
}