<div class="banner">
    <div class="content">
        <h1 class="mb-5">Find the Best Scholarships, Jobs, Internships, Admission Process  <br/> At One Place.</h1>
        <a routerLink="job">Apply Now <i class="bi bi-arrow-right"></i></a>
    </div>
</div>
<!-- step  -->
<div class="container mt-5 mb-5">
    <h1 class="text-center">How to  <span class="highlight">Apply</span></h1>
    <div class="row mt-5">
        <!-- one  -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>1</h1>
                <p>select the Internship/Job you wish to apply </p>
            </div>
        </div>
<!-- two -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>2</h1>
                <p>fill the details</p>
            </div>
        </div>
        <!-- three  -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>3</h1>
                <p>Click on apply</p>
            </div>
        </div>
    </div>
</div>


<div class="container mt-4 mb-4">
    <h1 class="text-center">Most <span class="highlight">Popular</span></h1>
    <div class="row">
        <div class="col-lg-3 mt-3" *ngFor="let fd of jobData;index as i">
            <div class="jobBox" *ngIf="i<=3">
                <img src="{{fd.JobImg}}" />
                <h1>{{fd.JobName}}</h1>
                <p>{{fd.JobExperience}}</p>
                <p>{{fd.JobDetails}}</p>
                <!-- <p>{{fd.JobSalary}}</p> -->
            </div>
        </div>
    </div>
    <a routerLink="job" class="viewmorebtn">view more <i class="bi bi-arrow-right"></i></a>
</div>
