
<div class="home-container" >
    <div class="homeHeading"  >
        <img class = "home-img" src="../../../assets/img/2.png" />
      <div id="thirdHeading"> Reaching The Unreached </div>
        <div id="fourthHeading" > <p>An Initiative by IGDTUW to provide students with a collection of<br>
             Internships ,Scholarships and much more.. </p></div>
    </div>
<div class="banner">
    <div class="content">
<a routerLink="job">Apply Now <i class="bi bi-arrow-right"></i></a>
</div>
</div>
<div class="container mt-5 mb-5 apply" >
</div>

<!-- <div class="">
    <h1> Your Dream Internship is just a click away </h1>
</div> -->

<div class="stats-div "  data-aos="zoom-in-up">
<h1 class="stats" style="padding-top:1rem ;"> A FEW STATS</h1>
<hr />
<div id="stats-info" >

<div class="circle-wrap">
    <div class="circle">
        <div class="mask half">
            <div class="fill"></div>
        </div>
        <div class="mask full">
            <div class="fill"></div>
        </div>
        <div class="inside-circle"> 900 <br> Scholarships </div>        
    </div>
</div>
    <div class="circle-wrap">
    <div class="circle">
        <div class="mask half">
            <div class="fill"></div>
        </div>
        <div class="mask full">
            <div class="fill"></div>
         </div>
         <div class="inside-circle"> 1000 <br> Internships </div>        
  
    </div>
    
  </div>
  
  <div class="circle-wrap">
    <div class="circle">
        <div class="mask half">
            <div class="fill"></div>
        </div>
        <div class="mask full">
            <div class="fill"></div>
        </div>
        <div class="inside-circle"> 800 <br> Jobs
        </div>        
  </div>
    
  </div>
</div>
</div>
  

 <!-- Begin rotate box- -->
 <div class="rotate-box-1-wrapper" data-aos="zoom-in-up">
    <div class="container">
        <div class="row" >
            <div class="col-md-6 col-sm-6">
                <a href="#" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0">
                    <span class="rotate-box-icon"><i class="fa fa-users"></i></span>
                    <div class="rotate-box-info">
                        <h4>Who We Are?</h4>
                        <p>
                            Indira Gandhi Delhi Technical University for Women (IGDTUW) was established by the
                            Govt. NCT of Delhi in May, 2013 vide Delhi Act 09 of 2012, as a non-affiliating University 
                            to facilitate and promote studies, research, technology, innovation, incubation and extension work
                            in emerging areas of professional education among women, with focus on engineering, technology, 
                            applied sciences, architecture and its allied areas with the objective to achieve excellence in 
                            these and related fields.
                        </p>
                    </div>
                </a>
            </div>

            <div class="col-md-6 col-sm-6">
                <a href="#" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0.2s">
                    <span class="rotate-box-icon"><i class="fa fa-gem"></i></span>
                    <div class="rotate-box-info">
                        <h4>What We Do?</h4>
                        <p>
                            We provide students of all levels - undergraduate , postgraduate or students in STEM with all
                            the scholarships , jobs , Internships available at one place.
                            We also encourage women to take up a career in STEM and motivate them to achieve their goal.
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <a href="#" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0.4s">
                    <span class="rotate-box-icon"><i class="fa fa-heart"></i></span>
                    <div class="rotate-box-info">
                        <h4>Why We Do It?</h4>
                        <p>
                            We try our best to keep the students updated
                            about the advancements in technology and aboutdifferent scholarships,
                            Internships, Jobs available.
                        </p>
                    </div>
                </a>
            </div>

            <div class="col-md-6 col-sm-6">
                <a href="#" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0.6s">
                    <span class="rotate-box-icon"><i class="fa fa-clock"></i></span>
                    <div class="rotate-box-info">
                        <h4>Since When?</h4>
                        <p>
                            We started in June 2022 with an aim to empower students of all level and especially
                            Women in Stem.
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <!-- /.row -->
    </div>
    </div>

<div class="container mt-4 mb-4" >
    <h1 class="text-center">Most <span class="highlight">Popular</span></h1>
    <div class="row">
        <div class="col-lg-3 mt-3" *ngFor="let fd of jobData;index as i">
            <div class="jobBox" *ngIf="i<=3">
                <img src="{{fd.JobImg}}" />
                <h1>{{fd.JobName}}</h1>
                <p>{{fd.JobExperience}}</p>
                <p>{{fd.JobDetails}}</p>
                <!-- <p>{{fd.JobSalary}}</p> -->
            </div>
        </div>

        <!-- <div class="col-lg-3 mt-3" *ngFor="let fd of scholarshipData;index as i">
            <div class="jobBox" *ngIf="i<=3">
                <img src="{{fd.JobImg}}" />
                <h1>{{fd.JobName}}</h1>
                <p>{{fd.JobExperience}}</p>
                <p>{{fd.JobDetails}}</p>
            </div>
        </div> -->

    </div>
    <a routerLink="job" class="viewmorebtn">view more <i class="bi bi-arrow-right"></i></a>
    <!-- <a routerLink="Scholarships" class="viewmorebtn">view more <i class="bi bi-arrow-right"></i></a> -->
</div>
</div>
