<div class="homeHeading">
    <img src="../../../assets/img/2.png" />
    <!-- <div id="thirdHeading">Brings to you</div> -->
      <div id="thirdHeading"> Reaching The Unreached </div>
        <div id="fourthHeading"> <p>An Initiative by IGDTUW to provide students with a collection of<br>
             Internships ,Scholarships and much more.. </p></div>
</div>
<div class="banner">
    <div class="content">
<a routerLink="job">Apply Now <i class="bi bi-arrow-right"></i></a>
</div>
</div>
<div class="container mt-5 mb-5 apply">
</div>


    <!-- <div class="banner">
        <div class="content">
            <h1 class="mb-5 " >Find the Best Scholarships, Jobs, Internships, Admission Process  <br/> At One Place.</h1>
            <a routerLink="job">Apply Now <i class="bi bi-arrow-right"></i></a>
        </div>
    </div> -->
<!-- step  -->


<h1 class="stats"> A FEW STATS</h1>
<hr />
<div id="stats-info">

<div class="circle-wrap">
    <div class="circle">
        <div class="mask half">
            <div class="fill"></div>
        </div>
        <div class="mask full">
            <div class="fill"></div>
        </div>
        <div class="inside-circle"> 900 <br> Scholarships </div>        
    </div>
</div>
    <div class="circle-wrap">
    <div class="circle">
        <div class="mask half">
            <div class="fill"></div>
        </div>
        <div class="mask full">
            <div class="fill"></div>
         </div>
         <div class="inside-circle"> 1000 <br> Internships </div>        
  
    </div>
    
  </div>
  
  <div class="circle-wrap">
    <div class="circle">
        <div class="mask half">
            <div class="fill"></div>
        </div>
        <div class="mask full">
            <div class="fill"></div>
        </div>
        <div class="inside-circle"> 800 <br> Jobs
        </div>        
  </div>
    
  </div>
</div>
  

<div class="container mt-4 mb-4">
    <h1 class="text-center">Most <span class="highlight">Popular</span></h1>
    <div class="row">
        <div class="col-lg-3 mt-3" *ngFor="let fd of jobData;index as i">
            <div class="jobBox" *ngIf="i<=3">
                <img src="{{fd.JobImg}}" />
                <h1>{{fd.JobName}}</h1>
                <p>{{fd.JobExperience}}</p>
                <p>{{fd.JobDetails}}</p>
                <!-- <p>{{fd.JobSalary}}</p> -->
            </div>
        </div>

        <!-- <div class="col-lg-3 mt-3" *ngFor="let fd of scholarshipData;index as i">
            <div class="jobBox" *ngIf="i<=3">
                <img src="{{fd.JobImg}}" />
                <h1>{{fd.JobName}}</h1>
                <p>{{fd.JobExperience}}</p>
                <p>{{fd.JobDetails}}</p>
            </div>
        </div> -->

    </div>
    <a routerLink="job" class="viewmorebtn">view more <i class="bi bi-arrow-right"></i></a>
    <!-- <a routerLink="Scholarships" class="viewmorebtn">view more <i class="bi bi-arrow-right"></i></a> -->
</div>
