
.rotate-box-1-wrapper{
  background-color: #edebd4;
}
/* Begin rotate box-1 */
.rotate-box-1,
.rotate-box-2 {
  display: inline-block;
  margin: 30px 0;
  /* -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; */
}

a.rotate-box-1,
a.rotate-box-2 {
  text-decoration: none;
  color: rgb(4, 4, 4);
}

a.rotate-box-1:hover,
a.rotate-box-2:hover {
  color: rgb(2, 2, 2);
}

.rotate-box-1 .rotate-box-icon {
  display: inline-block;
  text-align: center;
  margin-bottom: 15px;
  margin-right: 25px;
  margin-top: 10px;
  float: left;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.rotate-box-1.square-icon .rotate-box-icon,
.rotate-box-2.square-icon .rotate-box-icon {
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: rgb(11, 11, 11) !important;
  font-size: 18px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.rotate-box-1.square-icon .rotate-box-icon:after,
.rotate-box-2.square-icon .rotate-box-icon:after {
  content: "";
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  border: 2px solid rgb(18, 17, 17);
}

.rotate-box-1:hover.square-icon .rotate-box-icon,
.rotate-box-2:hover.square-icon .rotate-box-icon {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.rotate-box-1.square-icon .rotate-box-icon .fa,
.rotate-box-2.square-icon .rotate-box-icon .fa {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.rotate-box-1:hover.square-icon .rotate-box-icon .fa,
.rotate-box-2:hover.square-icon .rotate-box-icon .fa {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.rotate-box-1 .rotate-box-info a,
.rotate-box-2 .rotate-box-info a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.rotate-box-1 h4,
.rotate-box-2 h4 {
  font-weight: 600;
  font-size: 20px;
}

.rotate-box-1 p {
  padding: 0 10px;
}

.rotate-box-1 .rotate-box-info {
  padding-left: 60px;
}
.rotate-box-1-wrapper{
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.rotate-box-1-wrapper .row{
    /* background-color: #212121ad; */
    border-radius: 20px;
}

/* End rotate box-1 */

/* Begin rotate box-2 */
.rotate-box-2 .rotate-box-icon {
  display: inline-block;
  text-align: center;
  margin-bottom: 15px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.rotate-box-2.square-icon .rotate-box-icon {
  width: 75px;
  height: 75px;
  line-height: 75px;
  /* font-size: 36px; */
}

.rotate-box-2.square-icon .rotate-box-info {
  margin-top: 30px;
}

/* End rotate box-2 */
/* ===== End rotate boxes ===== */

/* HEADINGS */

.homeHeading{
    height: 400px;
}

#thirdHeading {
    /* margin-bottom: 2px; */

    text-align: center;
    color:rgb(185, 37, 37);
    font-size: 5vw;
    padding-top: 1px;
    letter-spacing: 2px;
    line-height: 10vh;
    font-family: 'Lobster', cursive;
    top: 40%;
    left: 25%;
    position:absolute;
}

#fourthHeading{

    text-align: center;
    color:rgb(185, 37, 37);
    font-size: 1.5vw;
    font-family: 'Lobster', cursive;
    font-family: 'PT Serif', serif;
    margin-top: 30px;
    letter-spacing: 2px;
    line-height: 4vh;
    top: 50%;
    left: 25%;
    position: absolute;

}


@media (max-width: 990px){
    #thirdHeading {
        font-size: 35px;
        text-align: center;
        left: 15%;
        top: 55%;
    }
    }


@media (max-width: 990px){
    #fourthHeading{
        font-size: 20px;
        text-align: center;
        left: 10%;
        top: 65%;
    }
    }

.home-img{
    height: 87vh;
    width: 100%;
}

    /* HEADINGS END */

/* button */
.content
{
    text-align: center;
}

.apply{
    background-color: rgb(233, 142, 142);
}

.content a 
{
    text-decoration: none;
    background-color: #773131;
    color: #fff;
    padding: 15px 20px;
    border-radius: 5px;
}

.content a:hover 
{
    background-color:rgb(226, 226, 171);
    color:#773131;
}

.text-center{
    font-size: 40px;
}

/* button end */

/* STATS  START */

#stats-info{
   display: flex;
}



.stats-div{
 background-color: #edebd4;
}

hr{
    border:none;
    border-top:1px solid;
    margin:1em auto; 
    width:17em;
}
.stats{
    text-align: center;
    font-weight: 400;
    font-size: 2rem;
    height: 2vw;
    color: #040404;
    margin-top: 10rem;
    
}


  .circle-wrap {
    margin: 150px auto;
    width: 150px;
    height: 150px;
    background: #e5e2e6;
    border-radius: 50%;
    border: 1px solid #c5c2ca;
    
  }

  .circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #702020;
  
}

.circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
    
  }
  
  .mask.full,
  .circle .fill {
    animation: fill ease-in-out 3s;
    transform: rotate(135deg);
  }
  
  @keyframes fill{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(135deg);
    }
  }
  .circle-wrap .inside-circle {
    width: 122px;
    height: 122px;
    border-radius: 50%;
    background: #dde2c3;
    line-height: 120px;
    text-align: center;
    margin-top: 14px;
    margin-left: 14px;
    color: #692121;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em;
    
  }


.stepBox 
{
    padding: 20px 20px;
    border-radius: 5px;
    text-align: center;
}
.stepBox h1 
{
    font-size: 50px;
    font-weight: bold;
    color: #fff;
}
.stepBox p 
{
    font-size: 20px;
    font-style: italic;
    color: #fff;
    height: 50px;
}
.highlight
{
    color:#B85042;
    font-weight: bold;
    font-style:normal;
}

.jobBox 
{
    padding: 20px 25px;
    width: 100%;
    border-radius: 20px;
} 
.jobBox img
{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
}
.jobBox h1 
{
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
    color: #000;
}
.jobBox:hover{
    background-color: #E7E8D1;
}
.viewmorebtn
{
    text-decoration: none;
    background-color:#B85042;
    color: #fff;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 18px;
}

.viewmorebtn:hover{
    background-color: #fff;
    color: #B85042;
}
